.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-sm-12 {
  width: 100%;
  display: flex;
}

.card {
  width: 48%;
  margin: 2%;
  padding: 1%;
}

.btn-secondary {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input-container input {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

form .btn-secondary {
  margin: 1%;
  width: 10%;
}